*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
/* .col {
  text-align: center;
  background-color: #ccc;
  background-clip: content-box;
  margin-top: 8px;
  margin-bottom: 8px;
} */
.item {
  margin-top: 16px;
  font-size: 40px;
  color: white;
  text-align: center;
  min-height: 180px;
  line-height: 180px;
  background-color: orange;
}
.main {
  display: flex;
  padding: 0 32px;
}
.sidebar {
  width: 300px;
  background-color: darkblue;
}
.content {
  width: calc(100% - 300px);
  flex: 1;
  background-color: aliceblue;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .mobile {
    display: none;
  }
  .hideOntablet {
    display: none;
  }
}
@media (max-width: 739px) {
  .mobile {
    display: none;
  }
  .hideOntablet {
    display: none;
  }
}
